mixin sReview(data)
	// start sReview
	+b.SECTION.sReview.section#sReview&attributes(attributes)
		.container
			+e.head-row.row
				.col-auto
					h2 Отзывы
				.col-auto
					+e.stars
						+e.stars-wrap
							+icon('star-filled')
							+icon('star-filled')
							+icon('star-filled')
							+icon('star-filled')
							+icon('star-half-filled')
						span 4.5
				.col-auto.ms-sm-auto
					+e.add-review(href="#") Добавить отзыв
			+e.row.row
				.col-lg-4
					mixin rate(num, count, activeLine)
						+e.rate(style=`--activeLine: ${activeLine}`)
							span!= num
							+icon('star-filled')
							//- +img('img/svg/star.svg')
							+e.line
							+e.count!= count
					+e.rate-wrap
						+rate(5, 150, '70%')
						+rate(4, 25, '50%')
						+rate(3, 15, '30%')
						+rate(2, 2, '20%')
						+rate(1, 1, '5%')
				.col-lg-8
					+e.wrap
						mixin item(title, city, text)
							+e.item
								.row
									.col
										h5!= title
										span!= city
									.col-auto
										+e.stars-wrap
											+icon('star-filled')
											+icon('star-filled')
											+icon('star-filled')
											+icon('star-filled')
											+icon('star-filled')
								p!= text
						+item('Викторовский А.В.', 'г. Москва', 'Магнитокалорическим эффектом (МКЭ) называется изменение температуры и&nbsp;магнитной части энтропии материала при его намагничивании или размагничивании внешним магнитным полем. Магнитокалорический эффект наблюдается в&nbsp;любом магнитном материале и&nbsp;может быть использован для создания высокоэффективного магнитного холодильника в&nbsp;котором рабочим телом является магнитный материал (в&nbsp;отличие от&nbsp;традиционных холодильников, в&nbsp;которых рабочим телом является газ).')
						+item('Викторовский А.В.', 'г. Москва', 'Магнитокалорическим эффектом (МКЭ) называется изменение температуры и&nbsp;магнитной части энтропии материала при его намагничивании или размагничивании внешним магнитным полем. Магнитокалорический эффект наблюдается в&nbsp;любом магнитном материале и&nbsp;может быть использован для создания высокоэффективного магнитного холодильника в&nbsp;котором рабочим телом является магнитный материал (в&nbsp;отличие от&nbsp;традиционных холодильников, в&nbsp;которых рабочим телом является газ).')
						+item('Викторовский А.В.', 'г. Москва', 'Магнитокалорическим эффектом (МКЭ) называется изменение температуры и&nbsp;магнитной части энтропии материала при его намагничивании или размагничивании внешним магнитным полем. Магнитокалорический эффект наблюдается в&nbsp;любом магнитном материале')
	// end sReview