include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin logo(img=true)
	+b.logo(href="#")
		+img('img/svg/logo-text.svg').text
		if img
			+img('img/logo-img.png').img

mixin sliderItem(img, title, date, pin='true', city, customClass, online="Online", text, ...tags)
	+b.news-item(class= customClass)&attributes(attributes)
		+e.img-wrap(href="#")
			+img(`img/${img}`, 'bg')
		+e.content
			+e.tags-row.row
				if online
					.col-auto
						+e.online(href="#")
							span
							!= online
				each tag in tags
					.col-auto
						+e.tag(href="#")!= tag
			a.h5(href="#")!= title
			if text
				+e.text!= text
			+e.bottom-row.row
				.col-auto
					+e.date!= date
				.col-auto
					+e.city
						if pin
							+img('img/svg/pin.svg')
						!= city

mixin vacanciesItem(label, price, title, text, customClass='swiper-slide')
	+b.vacancies-item(class= customClass)
		+e.head-row.row
			.col
				+e.label!= label
			if price
				.col-auto
					+e.price!= price
		a(href="#").h5!= title
		+e.bottom-row.row
			.col-auto
				+e.text Science-ID
			.col-auto
				+e.text!= text

mixin labSlide(img, title, text, detailed, customClass='swiper-slide')
	+b.labSlide(class= customClass)
		+e.img-wrap(href="#")
			.img-wrap-center
				+img(`img/${img}`)
		+e.content
			a(href="#").h6!= title
			+e.row.row
				.col-auto
					span.active Ритм
				.col-auto
					span Новокузнецк
			p
				!= text
				if detailed
					span.dots ...
					span.detailed Подробнее 
					span.moreText Преобразователь напряжение-ток Я9-44 обеспечивает преобразование постоянного и&nbsp;переменного напряжения
			+e.tags.row
				+e.tag-col.col-auto
					+e.tag(href="#") Оборудование
				+e.tag-col.col-auto
					+e.tag(href="#") Электроника
				+e.tag-col.col-auto
					+e.tag(href="#") Оборудование
				+e.tag-col.col-auto
					+e.tag(href="#") Электроника
				+e.tag-col.col-auto
					+e.tag(href="#") Оборудование
				.col-auto
					+e.show-more Еще 3